@model IEnumerable<Aventurijn.Activities.Web.Models.Domain.Level>

@{
    ViewBag.Title = "Aventurijn - Nivo's";
}

<h2>Nivo's</h2>

<p>
    @Html.ActionLink("Nieuw", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Aanpassen", "Edit", new { id=item.LevelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LevelId }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id=item.LevelId })
        </td>
    </tr>
}

</table>
