@model Aventurijn.Activities.Web.Models.ViewModel.ParticipationViewModel

@{
    ViewBag.Title = "Avonturijn - Nieuwe Deelname";
}

<h2>Nieuwe deelname</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset  class="editor">
        <legend>Deelname</legend>

         <div class="editor-label">
            @Html.LabelFor(model => model.Participation.Student)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Participation.StudentId, new SelectList(Model.Students, 
                                                                                                 "StudentId", "Name", 
                                                                                                 Model.Students.First().StudentId))
            @Html.ValidationMessageFor(model => model.Participation.Student)
        </div>
        
         <div class="editor-label">
            @Html.LabelFor(model => model.Participation.Activity)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Participation.ActivityId, new SelectList(Model.Activities, 
                                                                                               "ActivityId", "Name", 
                                                                                                Model.Activities.First().ActivityId))
            @Html.ValidationMessageFor(model => model.Participation.Activity)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Participation.ExtraInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Participation.ExtraInfo)
            @Html.ValidationMessageFor(model => model.Participation.ExtraInfo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Participation.Participating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Participation.Participating)
            @Html.ValidationMessageFor(model => model.Participation.Participating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Participation.ParticipationDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Participation.ParticipationDateTime)
            @Html.ValidationMessageFor(model => model.Participation.ParticipationDateTime)
        </div>

        <p>
            <input type="submit" value="Opslaan" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Terug naar lijst", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
