@model Aventurijn.Activities.Web.Models.Domain.Participation

@{
    ViewBag.Title = "Aventurijn - Deelname Details";
}

<h2>Deelname details</h2>

<fieldset class="tabular">
    <legend>Deelname</legend>

    <div class="row">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Student)
        </div>
        <div class="display-field">
            @Html.DisplayTextFor(model => model.Student.Name)
        </div>
    </div>
    <div class="row">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Activity)
        </div>
        <div class="display-field">
            @Html.DisplayTextFor(model => model.Activity.Name)
        </div>
    </div>
     <div class="row">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Activity.Subject)
        </div>
        <div class="display-field">
            @Html.DisplayTextFor(model => model.Activity.Subject.Name)
        </div>
    </div>
     <div class="row">
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ExtraInfo)
        </div>
         <div class="display-field">
             @Html.DisplayFor(model => model.ExtraInfo)
         </div>
      </div>
    
     <div class="row">

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Participating)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Participating)
        </div>
    </div>
    
     <div class="row">
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ParticipationDateTime)
        </div>
     <div class="display-field">
         @Html.DisplayFor(model => model.ParticipationDateTime)
     </div>
         </div>
</fieldset>
<p>
    @Html.ActionLink("Aanpassen", "Edit", new { id=Model.ParticipationId }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
