@model Aventurijn.Activities.Web.Models.ViewModel.ParticipationsViewModel

@{
    ViewBag.Title = "Aventurijn - Puntjes";
}

<h2>Puntjes</h2>

<ul class="horizontal">
    <li>Van: <input type="text" id="fromDate" class="datefield small" value="@Model.FromDateAsString" /></li>
    <li>Tot: <input type="text" id="toDate" class="datefield small" value="@Model.ToDateAsString" /></li>
    <li>Leerling: <select id="studentsSelect" class="small">
                      <option value="0" selected>Alle...</option>
                       @foreach (var student in Model.Students)
                       {
                           <option value="@student.StudentId">@student.Name</option>
                       }
                  </select></li>
    <li><button id="getParticipations" type="button" >Filter</button></li>
</ul>

<div id="participations_table">
    <form id="participationsForm" method="post" action="/participation/save" data-bind="submit: save">
        <table class="data full-width" data-bind="loadingWhen: isLoading">
            <thead>
                <tr>
                    <th class="">Leerling</th>
                    <th class="">Activiteit</th>
                    <th class="">Onderwerp</th>
                    <th class="">Deelname</th>
                    <th class="">Extra</th>
                    <th class="">Datum</th>  
                    <th></th>  
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'participations-template', foreach: participations, as: 'participation'}"></tbody>
            <tfoot data-bind="visible: participations().length == 0">
                <tr>
                    <td colspan="7">
                        Geen puntjes gevonden...
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="buttonrow">
            <button id="new_participation" type="button" data-bind='click: addParticipation' >Nieuw</button> 
            <button id="save_participations" data-bind="enable: participations().length > 0" type="submit" >Opslaan</button>
            
            <button id="show_participations" data-bind="enable: participations().length > 0" class="right" type="button">Print</button>
        </div>
    </form>
</div>
<!--        TEMPLATES       -->
<script type="text/html" id="participations-template">
    <tr>
        <input type="hidden" data-bind="value: ParticipationId"/>
        <input type="hidden" data-bind="value: StudentId"/>
        <input type="hidden" data-bind="value: ActivityId"/>
        <input type="hidden" data-bind="value: Activity.SubjectId"/>
        <td>
            <select data-bind="options: $root.students, optionsText: 'Name', optionsValue: 'StudentId', value: participation.StudentId, optionCaption: 'Selecteren...' "></select>
        </td> 
        <td>
            <select data-bind="options: $root.activities, optionsText: 'Name', optionsValue: 'ActivityId', value: participation.ActivityId, optionCaption: 'Selecteren...' " class="activity"></select>
        </td> 
        <td data-bind="with: participation.ActivityId">
            <select data-bind="options: $root.subjects, optionsText: 'Name', optionsValue: 'SubjectId', value: participation.Activity.SubjectId " class="subject" disabled="true"></select>
        </td> 
        <td class="centered"><input type="checkbox" data-bind="checked: Participating" /></td>
        <td>
            <input type="text" class="" data-bind="value: ExtraInfo"/>
        </td>        
        <td>
            <input type="text" class="datefield" data-bind="value: ParticipationDateTimeAsString"/>
        </td>
        <td> | <a href="#" class="delete" data-bind='click: $root.removeParticipation' >Verwijderen</a></td>
    </tr>
</script>


@section Scripts {
@{
string data = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model);
}
    <script type="text/javascript"> 
        var initialData = @Html.Raw(data);

        puntjes.message.init(document.getElementById('participations_table'));
        
        var allParticipations = new participations(initialData);
        ko.applyBindings(allParticipations, document.getElementById('participations_table'));

         $('.org-edit').click(function() {
             var link = $(this);
             var id = link.attr('data-current');
             window.location.href = '/participation/edit/'+id;
        });
         
        $('.activity').live('change', function() {
             var select = $(this);
            var newActivityId = select.val();
            
            for (var i = 0; i < initialData.Activities.length; i++) {
                if (initialData.Activities[i].ActivityId == newActivityId) {
                    $(select.parents('tr').find('.subject')[0]).val(initialData.Activities[i].SubjectId);
                    return;
                }
            }
        });

        $('#getParticipations').click(function() {
            var from = $('#fromDate').val();
            var to = $('#toDate').val();
            var studentId = $('#studentsSelect').val();
            allParticipations.getParticipations(from, to, studentId);
        });
        
        $('#show_participations').click(function() {
            var from = $('#fromDate').val();
            var to = $('#toDate').val();
            var studentId = $('#studentsSelect').val();

            window.location.href = 'participation/readonly?from=' + from + '&to=' + to + '&studentId=' + studentId; 
        });
    </script>
}