@model Aventurijn.Activities.Web.Models.ViewModel.ParticipationsViewModel

@{
    ViewBag.Title = "Aventurijn - Puntjes";
}

<h2>Puntjes</h2>

<form action="/participation" method="post" enctype="multipart/form-data">
    <ul class="horizontal">
        <li>Van: <input type="text" id="from" name="from" class="datefield small" value="@Model.FromDateAsString" /></li>
        <li>Tot: <input type="text" id="to" name="to" class="datefield small" value="@Model.ToDateAsString" /></li>
        <li>Leerling: <select id="studentId" name="studentId" class="small">
                          <option value="0" selected>Alle...</option>
                          @foreach (var student in Model.Students)
                          {
                              <option value="@student.StudentId">@student.Name</option>
                          }
                      </select></li>
        <li><input id="getParticipations" type="submit" value="Filter" /></li>
        <li class="right"></li>
    </ul>
</form>

<table class="grid">
    <tr>
        <th>
            Leerling
        </th> 
        <th>
            Vak
        </th>
        <th>
            Activiteit
        </th>
        <th>
            Extra
        </th>
        <th>
            Datum
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Participations) {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.Student.Name)
            </td>
            <td class="break-word">
                @Html.DisplayTextFor(modelItem => item.Subject.Name)
            </td>
            <td class="break-word">
                @Html.DisplayTextFor(modelItem => item.Activity.Name)
            </td>
            <td class="break-word">
                @Html.DisplayFor(modelItem => item.ExtraInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipationDateTime)
            </td>
            <td>@Html.ActionLink("Aanpassen", "Edit", new { id=item.ParticipationId }) | 
                @Html.ActionLink("Verwijderen", "Delete", new { id=item.ParticipationId })</td>
        </tr>
    }

</table>