@model Aventurijn.Activities.Web.Models.ViewModel.ParticipationsPerSubjectViewModel

@{
    ViewBag.Title = "Aventurijn - Puntjes";
}

<h2>Puntjes</h2>

<ul class="horizontal">
    <li>Van: <input type="text" id="fromDate" class="datefield small" value="@Model.FromDateAsString" /></li>
    <li>Tot: <input type="text" id="toDate" class="datefield small" value="@Model.ToDateAsString" /></li>
    <li>Onderwerp: <select id="subjectsSelect" class="small">
                      <option value="0" selected>Alle...</option>
                      @foreach (var subject in Model.Subjects)
                      {
                          <option value="@subject.SubjectId">@subject.Name</option>
                      }
                  </select>
    </li>
    <li><button id="getParticipations" type="button" >Filter</button></li>
    <li class="right"></li>
</ul>

<div id="participations_container"   data-bind="template: { name: 'participations-per-subject-form' , templateUrl:'/app/views'}"></div>
<input type="hidden" id="exText"/>

@section Scripts {
@{
    string data = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model);
}

<script type="text/javascript">
    var initialData = @Html.Raw(data);

    puntjes.message.init(document.getElementById('participations_container'));

    var allParticipationsPerSubject = new participationspersubject(initialData);
    ko.applyBindings(allParticipationsPerSubject, document.getElementById('participations_container'));

    $('#getParticipations').click(function() {
        var from = $('#fromDate').val();
        var to = $('#toDate').val();
        var id =  $('#subjectsSelect').val();
        allParticipationsPerSubject.getParticipations(from, to, id);
    });
</script>
}