@model Aventurijn.Activities.Web.Models.ViewModel.StudentViewModel

@{
    ViewBag.Title = "Aventurijn - Leerling Aanpassen";
}

<h2>Leerling aanpassen</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="editor">
        <legend>Leerling</legend>

        @Html.HiddenFor(model => model.Student.StudentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Student.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Student.Name)
            @Html.ValidationMessageFor(model => model.Student.Name)
        </div>
        
         <div class="editor-label">
            @Html.LabelFor(model => model.Student.Insertion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Student.Insertion)
            @Html.ValidationMessageFor(model => model.Student.Insertion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Student.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Student.LastName)
            @Html.ValidationMessageFor(model => model.Student.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Student.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Student.BirthDate)
            @Html.ValidationMessageFor(model => model.Student.BirthDate)
        </div>
        
         <div class="editor-label">
            @Html.LabelFor(model => model.Student.Level)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Student.LevelId, new SelectList(Model.Levels, 
               "LevelId", "Name", 
                Model.Levels.First().LevelId))
            @Html.ValidationMessageFor(model => model.Student.Level)
        </div>
        <p>
            <input type="submit" value="Opslaan" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Terug naar lijst", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
