@model Aventurijn.Activities.Web.Models.Domain.Student

@{
    ViewBag.Title = "Aventurijn - Leerling Aanpassen";
}

<h2>Leerling aanpassen</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Leerling</legend>

        @Html.HiddenFor(model => model.StudentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <p>
            <input type="submit" value="Opslaan" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Terug naar lijst", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
