@model Aventurijn.Activities.Web.Models.Domain.Activity

@{
    ViewBag.Title = "Avonturijn - Activiteit Verwijderen";
}

<h2>Activiteit verwijderen</h2>

<h3>Weet je zeker dat je deze Activiteit wilt verwijderen?</h3>
<fieldset class="tabular">
    <legend>Activiteit</legend>
    
    <div class="row">
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    
    <div class="row">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Active)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Active)
        </div>
    </div>

    <div class="row">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.CreationDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreationDate)
        </div>
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Verwijderen" /> |
        @Html.ActionLink("Terug naar lijst", "Index")
    </p>
}
