@model Aventurijn.Activities.Web.Models.Domain.Activity

@{
    ViewBag.Title = "Aventurijn - Activiteit Aanpassen";
}

<h2>Activiteit aanpassen</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="editor">
        <legend>Activiteit</legend>

        @Html.HiddenFor(model => model.ActivityId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreationDate)
            @Html.ValidationMessageFor(model => model.CreationDate)
        </div>

        <p>
            <input type="submit" value="Opslaan" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Terug naar lijst", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
